!!!
%html
%head
	%title Garage Sale
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags 
%body
	%header.main_header
		#logo
			%p= link_to "Garage Sale", root_path
		#buttons
			-if user_signed_in?
				= link_to "New Garage Sale", new_garage_path
				= link_to "Sign out", destroy_user_session_path, :method => :delete
				= link_to "My Garage Sales", garages_path(current_user , @garage)
			-else 
				= link_to "Sign up", new_user_registration_path
				= link_to "Sign in", new_user_session_path
	.wrapper
		%p.notice= notice
		%p.alert= alert

	.wrapper	
	=yield






